@import url('https://fonts.googleapis.com/css?family=Numans');

html {
  height: 100%;
  width: 100%;
}

body {
  background: url('../images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
}

b {
  font-weight: bold;
}

a, p, span,
h1, h2, h3, h4, h5, h6,
label, input, select, option, textarea, button {
  font-family: 'Numans', sans-serif;
  color: #1B2631;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

button,
.btn {
  background: #3366FF;
  color: white;
  width: 100px;
  height: 43px;
  padding: 10px 10px;
  margin-block-end: 10px;
  border: 1px solid;
  border-radius: 5px;
  outline: none;
}

button:hover,
.btn:hover {
  background: #0000FF;
  color: white;
  cursor: pointer;
}

/*--------------------------------------Background-Home------------------------------------*/
.background-home {
  background: url('../../static/images/ATM2.PNG') no-repeat center center fixed;
  height: 100vh;
  padding-block-start: 69px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: bottom;
  background-color: white;
}

/*--------------------------------------Botão Flutuante------------------------------------*/
.btn-float {
  color: #fff !important;
  display: block;
  text-align: center;
  position: fixed;
  right: 1%;
  z-index: 799;
  width: 54px;
  height: 54px;
  line-height: 44px;
  border: 5px solid;
  border-radius: 50%;
  background: linear-gradient(100deg, #707B7C, #B2BABB, #1B2631);
  background-size: 1000% 1000% !important;
  -webkit-animation: changeColors 30s ease infinite;
  -moz-animation: changeColors 30s ease infinite;
  -o-animation: changeColors 30s ease infinite;
  animation: changeColors 30s ease infinite;
}

@-webkit-keyframes changeColors {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@keyframes changeColors {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

#seta-topo {
  bottom: 10px;
}

#home,
#return {
  bottom: 50px;
}

#novo-cadastro {
  bottom: 90px;
}

/*------------------------------------------Navbar------------------------------------------*/
nav#navbar-default {
  background-color: rgba(27, 38, 49, 0.7);
}
nav#navbar-default p {
  color: white;
  margin: 0;
  position: center;
}
nav#navbar-default a {
  color: #3366FF;
  font-size: 11px;
  margin: 0 0 0 5px;
  text-transform: uppercase;
}
.navbar-brand {
  font-size: 22px;
}
.navbar-text {
  height: 43px;
  font-size: 14px;
}
.navbar-toggler {
  width: auto;
}
.navbar-toggler:hover {
  background: none;
}

/*-----------------------------------------SideBar------------------------------------------*/


/*------------------------------------Container Page-Into-----------------------------------*/
#content-page {
  padding-block-start: 69px;
}

/*------------------------------------------Footer------------------------------------------*/
.footer {
  color: #707B7C;
  position: static;
  padding: 10% 0 1% 0;
  text-align: center;
  font-size: 10px;
}

/*----------------------------------------Login Card----------------------------------------*/
.card{
  margin-top: 150px;
  height: auto;
  background-color:white !important;
}

.card-header {
  background-color:white !important;
}

.mx-auto {
  width: 240px;
}

.input-group-prepend span{
width: 40px;
background-color: rgba(229, 57, 53, 0.9);
color: white;
border: 0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn{
  color: white;
  background-color: #B2BABB;
  width: 240px;
}

.login_btn:hover{
  color: white;
  background-color: #707B7C;
}

/*-------------------------------------Login Card ERROR-------------------------------------*/
.label-danger {
  background-color:  rgba(255, 255, 0, 0.5);
  text-align: center;
  color: rgba(27, 38, 49, 0.7);
}
.text-danger-login {
  color: #FF0000;
  font-size: 10px;
  text-align: center;
}

/*---------------------------------Título, Gestão de Crise----------------------------------*/
.cabecalho #titulo {
  margin-top: 30px;
}
/*----------------------------------Filtro por Criticidade----------------------------------*/
.cabecalho {
  text-align: center;
  color: black;
  font-weight: bold;
  padding: 5% 1% 1%;
}

.filtro {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  margin: 5% auto;
  line-height: 90px;
  text-align: center;
  color: #fff !important;
  background-size: 1000% 1000% !important;
  background: linear-gradient(100deg, #FF0000, #B2BABB, rgba(27, 38, 49, 0.7));
  -webkit-animation: changeColors 30s ease infinite;
  -moz-animation: changeColors 30s ease infinite;
  -o-animation: changeColors 30s ease infinite;
  animation: changeColors 30s ease infinite;
}

@-webkit-keyframes changeColors {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes changeColors {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/*-------------------- Formulário de Cadastro de Sistemas -------------------*/
.cadastro-systems {
  width: auto;
  text-align: center;
  position: relative;
  font-family: 'Numans', sans-serif;
}

.cadastro-systems fieldset {
  background: white;
  border: 0 none;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;

  box-shadow: 0 0 15px 1px rgba(0,0,0, 0.4);
  padding: 20px 30px;

  box-sizing: border-box;
  width: 60%;
  margin: 0 auto 3%;
}

.cadastro-systems fieldset:not(:first-of-type) {
  display: none;
}

.cadastro-systems h2 {
  font: 20px 'Numans';
  color: #1B2631;
  width: 100%;
  float: left;
  text-align: left;
  margin-bottom: 4%;
  text-transform: uppercase;
}

.cadastro-systems label, option {
  float: left;
  font: 14px 'Numans';
}

.cadastro-systems input, select, textarea {
  padding: 10px;
  border: 1px solid #B2BABB;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font: 14px;
  margin-bottom: 10px;
}

p.help-block {
  font: 10px 'Numans';
  color: #B2BABB;
  float: left;
}

.cadastro-systems .acao {
  padding: 12px 0;
  margin-right: 5%;
  float: left;
  outline: none;
}
.cadastro-systems .anterior {
  background: #B2BABB;
}
.cadastro-systems .anterior:hover {
  background: #707B7C;
}
.cadastro-systems .salvar {
  background: rgb(150, 230, 95);
}
.cadastro-systems .salvar:hover {
  background: #00CC33;
}

#progress {
  overflow: hidden;
  width: 50%;
  margin: auto;
  padding: 100px 0 10px 18%;
  counter-reset: step;
}

#progress li {
  list-style-type: none;
  color: #1B2631;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  float: left;
  width: 11.11%;
  position: relative;
}

#progress li:after {
  content: '';
  width: 100%;
  background: #B2BABB;
  height: 2px;
  position: absolute;
  top: 9px;
  left: -50%;
  margin-left: 10px;
  z-index: -1;
}

#progress li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  display: block;
  line-height: 20px;
  background: #B2BABB;
  color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
  margin: 0 auto 10px auto;
}

#progress li:first-child:after {
  content: none;
}

#progress li.ativo:after, #progress li.ativo:before {
  background: rgba(229, 57, 53, 0.9);
}

/*-------------------- Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0 0 0 50px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 5px 0 7px 50px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 22.5px;
  width: 22.5px;
  left: 4px;
  bottom: 4px;
  background-color: #707B7C;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
}
.slider:after {
  position: absolute;
  left: 0;
  z-index: 1;
  content: "Exibir";
    font-size: 12px;
    text-align: left !important;
    line-height: 30px;
  padding-left: 0;
    width: 70px;
    color: #fff;
    height: 30px;
    border-radius: 15px;
    background-color: #3366FF;
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
    transition: all 0.4s ease-in-out;
}

input:checked + .slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  padding-left: 7px;
}

input:checked + .slider:before {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 50%;
}
.absolute-no {
	position: absolute;
	left: 0;
	color: darkslategrey;
	text-align: right !important;
    font-size: 12px;
    width: calc(100% - 12.5px);
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

/*--------------------------------------Card Systems----------------------------------------*/
.profile-card {
  background: rgba(229, 57, 53, 0.9);
  width: 56px;
  height: 56px;
  margin: auto auto 5% auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: translate(0, -45%);
  transform: translate(0, -45%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
  padding: 40px 20px 30px 20px;
  display: inline-block;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card #criticidade {
  text-align: left;
}

.profile-card #status-sistema {
  margin: 5% 0 0 0;
}

.profile-card header h1 {
  margin: 0px 0px 5px 0px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(27, 38, 49, 0.7);
}

.profile-card header h2 {
  font-size: 18px;
}

.profile-card header a {
  display: inline-block;
  color:rgba(229, 57, 53, 0.9);
  margin: 10px;
  cursor: text;
}

.profile-card .profile-bio {
  display: inline-block;
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-bio p {
  margin: 0;
  color: rgba(27, 38, 49, 0.7);
  font-size: 16px;
}

.profile-social-links {
  display: inline-block;
  margin: 0px;
  padding: 15px 20px;
  background: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 310%;
  }
  50% {
    top: 105%;
  }
  100% {
    top: 205%;
  }
}

@keyframes moveDown {
  0% {
    top: 310%;
  }
  50% {
    top: 105%;
  }
  100% {
    top: 205%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: rgba(229, 57, 53, 0.9);
    top: 205%;
  }
  50% {
    top: 305%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes moveUp {
  0% {
    background: rgba(229, 57, 53, 0.9);
    top: 205%;
  }
  50% {
    top: 305%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 20px;
  }
  100% {
    width: 410px;
    height: 250px;
    background: #FFFFFF;
    -webkit-border-radius: 20px;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 20px;
  }
  100% {
    width: 410px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 20px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 410px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 10px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: auto;
    padding: 10px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 20px;
    }
    100% {
      width: 250px;
      height: 410px;
      background: #FFFFFF;
      -webkit-border-radius: 20px;
    }
  }
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 20px;
    }
    100% {
      width: 250px;
      height: 410px;
      background: #FFFFFF;
      border-radius: 20px;
    }
  }
}
